[submodule "Learn-CUDA-Programming"]
	path = Learn-CUDA-Programming
	url = https://github.com/PacktPublishing/Learn-CUDA-Programming.git
[submodule "llvim_bazel_rule_cuda"]
	path = llvim_bazel_rule_cuda
	url = https://github.com/llvim/bazel_rule_cuda.git
[submodule "HibbertPKU-bazel-nvcc"]
	path = hibbert-pku
	url = https://github.com/Hibbert-pku/bazel_nvcc.git
[submodule "hibbert-pku"]
	path = hibbert-pku
	url = https://github.com/Hibbert-pku/bazel_nvcc.git
[submodule "learn-cuda.git"]
	path = learn-cuda.git
	url = https://github.com/PacktPublishing/Learn-CUDA-Programming
[submodule "llvim.git"]
	path = llvim.git
	url = https://github.com/llvim/bazel_rule_cuda.git
